<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.softvisitingcardapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gallery.CardGalleryActivity"
            android:label="Card Gallery"
            android:parentActivityName=".activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".people.LinkedPeopleActivity"
            android:label="Linked People"
            android:parentActivityName=".activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".people.OtherUsersActivity"
            android:parentActivityName=".gallery.CardGalleryActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gallery.CardGalleryActivity" />
        </activity>
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/HomeTheme" />
        <activity android:name=".brand.BrandActivity" />
        <activity android:name=".brand.BrandDetailActivity" />
        <activity android:name=".brand.BrandEditActivity" />
        <activity android:name=".category.CategoryAddActivity" />
        <activity android:name=".category.CategoryDetailActivity" />
        <activity android:name=".category.CategoryEditActivity" />
        <activity android:name=".feature.FeatureAddActivity" />
        <activity android:name=".feature.FeatureEditActivity" />
        <activity android:name=".feature.FeatureDetailActivity"></activity>
    </application>

</manifest>